<h1>Welcome</h1>
<%= button_to "say Hello Async",  hello_path,remote:true %>
<% if current_user %>
    <p>Hello <%= current_user.email %>!</p>

<% if current_user.admin? %>
There are <%= User.count %> users in the system.
<% end %>
<%= link_to "Monitor Jobs", sidekiq_web_path %>
<p>You have successfully authenticated with your Devise account.
You are now ready to interact with this application.
</p>
 <% else %>
 <p>You are not signed in.</p>
<%= link_to "Sign Up!", new_user_registration_path %>
<br/>
<%= link_to "login", new_user_session_path %>
<% end %>

